GROUNDSTATION_MODE=pi
INGEST_PORT={{ groundstation_ingest_port | default('4000') }}
INGEST_URL=http://{{ groundstation_lab_host | default(tailscale_lab_host | default('leos')) }}:{{ groundstation_ingest_port | default('4000') }}
SPOOL_DB_PATH={{ groundstation_spool_db_path | default('/home/pi/leos-state/spool.db') }}
FAKE_RADIO_INPUT_PATH={{ groundstation_fake_radio_input_path | default('/home/pi/leos-S26-ground-station/testdata/fake_radio_input.jsonl') }}
FAKE_RADIO_REPEAT={{ groundstation_fake_radio_repeat | default('false') }}
FAKE_RADIO_INTERVAL_S={{ groundstation_fake_radio_interval_s | default('0') }}