GROUNDSTATION_MODE=pi
GROUNDSTATION_PI_LOCAL_ONLY={{ groundstation_pi_local_only | default('false') }}
INGEST_PORT={{ groundstation_ingest_port | default('4000') }}
INGEST_URL=http://{{ groundstation_lab_host | default(tailscale_lab_host | default('leos')) }}:{{ groundstation_ingest_port | default('4000') }}
SPOOL_DB_PATH={{ groundstation_spool_db_path | default('/home/pi/leos-state/spool.db') }}
RADIO_SOURCE={{ groundstation_radio_source | default('replay') }}
RADIO_ENABLED={{ groundstation_radio_enabled | default('both') }}
REPLAY_RADIO_INPUT_PATH={{ groundstation_replay_radio_input_path | default('/home/pi/leos-S26-ground-station/testdata/fake_radio_input.jsonl') }}
REPLAY_RADIO_REPEAT={{ groundstation_replay_radio_repeat | default('false') }}
REPLAY_RADIO_INTERVAL_S={{ groundstation_replay_radio_interval_s | default('0') }}
RADIO_SOCKET_PATH={{ groundstation_radio_socket_path | default('/tmp/leos-radio.sock') }}
RADIO_RECEIVER_BIN={{ groundstation_radio_receiver_bin | default('/home/pi/leos-S26-ground-station/native/build/radio_receiver') }}
RADIO_RECEIVER_AUTOSTART={{ groundstation_radio_receiver_autostart | default('true') }}
