GROUNDSTATION_MODE=lab
INGEST_PORT={{ groundstation_ingest_port | default('4000') }}
INGEST_URL=http://{{ groundstation_lab_host | default('127.0.0.1') }}:{{ groundstation_ingest_port | default('4000') }}
SPOOL_DB_PATH={{ groundstation_spool_db_path | default('/var/lib/leos/spool.db') }}
POSTGRES_USER={{ groundstation_postgres_user | default('postgres') }}
POSTGRES_PASSWORD={{ groundstation_postgres_password | default('changeme') }}
PGHOST={{ groundstation_pg_host | default('127.0.0.1') }}
PGPORT={{ groundstation_pg_port | default('5432') }}
PGUSER={{ groundstation_pg_user | default('postgres') }}
PGPASSWORD={{ groundstation_pg_password | default('changeme') }}
PGDATABASE={{ groundstation_pg_database | default('postgres') }}
PGSSL={{ groundstation_pg_ssl | default('false') }}
GF_SECURITY_ADMIN_USER={{ groundstation_grafana_user | default('admin') }}
GF_SECURITY_ADMIN_PASSWORD={{ groundstation_grafana_password | default('changeme') }}
PGADMIN_DEFAULT_EMAIL={{ groundstation_pgadmin_email | default('you@example.com') }}
PGADMIN_DEFAULT_PASSWORD={{ groundstation_pgadmin_password | default('changeme') }}
